/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */



/* Footer CSS */



/* Button CSS */
#pro_pic{
  text-align: center; 
   border-radius:50px;
}
body{
    background-image:url("https://image.freepik.com/free-vector/white-rhombus-pattern_1053-249.jpg");
}


